.heade {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.6vw;
  transition: 0.5s ease;
  z-index: 100;
  left: 0;
  right: 0;
  align-items: center;

  span {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: grid;
    align-items: center;

    .a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  .nav_array {
    ul {
      list-style: none;
      display: inline;
      li,
      li:hover {
        display: inline;
        margin: 0 0 0 3.7rem;
        font-size: 1rem;

        a,
        a:hover {
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 1em;
          border-bottom: none;
          color: rgba($color: #ffffff, $alpha: 0.5);
          text-decoration: none;
        }

        .active,
        .active:hover {
          color: rgba($color: #ffffff, $alpha: 1);
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}
