.heade {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2.75rem 7.2vw;
  transition: 0.5s ease;
  z-index: 100;
  left: 0;
  right: 0;
  align-items: center;

  span {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #c77171;
    display: grid;
    align-items: center;

    .a {
      color: #681e1e;
    }
  }

  .nav_array {
    ul {
      list-style: none;
      display: inline;
      li,
      li:hover {
        display: inline;
        margin: 0 0 0 3.7rem;
        font-size: 1rem;

        a,
        a:hover {
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 1em;
          letter-spacing: 0.02em;
          text-transform: uppercase;

          color: rgba($color: #c98080, $alpha: 0.5);
        }

        .active,
        .active:hover {
          color: rgba($color: #a71c1c, $alpha: 1);
        }
      }

      li:hover {
        a {
          opacity: 1;
          color: rgb(153, 34, 34);
        }
      }
    }
  }
}
